.home-banner {
    width: var(--mall-content-width);
    height: calc(var(--mall-content-width) * 0.4);
}

.home-banner .carousel-inner {
    height: 100%;
    width: 100%;
}

.home-banner .carousel-inner .carousel-item {
    height: 100%;
    width: 100%;
}

.home-banner .carousel-inner .home-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.area-title {
    border-left: 5px solid #0c63e4;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.shop-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.shop-area .shop-item {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 12px;
    background-color: #f7f7f7;
    transition: background-color 400ms;
    margin: 0 5px;
    cursor: pointer;
}

.shop-area .shop-item:hover {
    background-color: #f0f0f0;
}

.shop-area .shop-item .shop-image {
    width: 100px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.shop-area .shop-item .shop-name {
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}