<!DOCTYPE html>
<html lang="en">
<head th:replace="common/competition-common :: common_head(${myLinks}, ${myScripts})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的比赛</title>
</head>
<body>
<div th:replace="common/competition-common::mall-header"></div>
<div th:replace="common/competition-common::competition-sidebar"></div>
<!-- 主内容区 -->
<div class="com-body">
    <div class="com-title">我的比赛</div>
    <div class="com-cardList">
        <div class="card"  th:each="match : ${myMatch}">
            <a th:href="'/match?id=' + ${match.matchId}" class="card-link">
                <div class="card-over">
                    <img class="card-image" th:if="${match.imageUrl != null and !match.imageUrl.isEmpty()}" th:src="${match.imageUrl}" alt="Card Image" />
                    <img class="card-image" th:unless="${match.imageUrl != null and !match.imageUrl.isEmpty()}" th:src="@{/image/NoImg.png}" alt="Default Card Image" />
                    <div class="card-name" th:text="${match.matchName}">这里是个标题</div>
                    <div class="card-main" th:text="${match.competitionStandards}">这里是个内容</div>
                </div>
            </a>
        </div>
        <div class="card" th:if="${prefix.equals('B')}">
            <a href="/select" class="card-link">
                <div class="card-over">
                    <div class="card-circle">
                        <div class="card-cross"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- 底部间隔横线和版权信息 -->
<div th:replace="common/competition-common::mall-footer"></div>
</body>
</html>