<!DOCTYPE html>
<html lang="en">
<head th:replace="common/competition-common :: common_head(${myLinks}, ${myScripts})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>赛事信息系统</title>
</head>
<body>
<div th:replace="common/competition-common::mall-header"></div>
<div th:replace="common/competition-common::competition-sidebar"></div>
<!-- 主内容区 -->
<div class="com-body">
    <div class="com-title">选择赛事</div>
    <form th:action="@{/select}" method="post">
        <input class="input" type="text" name="comName" placeholder="请输入赛事名称" title="请输入赛事名称">
        <button class="card-button" type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
    <div class="com-cardList">
        <div class="card"  th:each="com : ${competitionList}">
            <a th:href="'/prepareMatch?id=' + ${com.comId}" class="card-link">
                <div class="card-over">
                    <img class="card-image" th:if="${com.imageUrl != null and !com.imageUrl.isEmpty()}" th:src="${com.imageUrl}" alt="Card Image" />
                    <img class="card-image" th:unless="${com.imageUrl != null and !com.imageUrl.isEmpty()}" th:src="@{/image/NoImg.png}" alt="Default Card Image" />
                    <div class="card-name" th:text="${com.comName}">这里是个标题</div>
                    <div class="card-main" th:text="${com.comProfile}">这里是个内容</div>
                </div>
            </a>
        </div>
        <div class="com-title" th:if="${competitionList.isEmpty()}">未找到赛事</div>
    </div>
</div>
<div th:replace="common/competition-common::mall-footer"></div>
</body>
</html>